/* css styles */
.navbar-dark {
  background-color: #007ab2;
}

.navbar-light {
  background-color: #007ab2;
}

.navbar {
  background-color: #007ab2;
}

.btn {
  background-color: #007ab2;
  border: 1px solid #007ab2;
}